<p></p>
<div class="row">
  <div class="large-12 columns">

    <div class="row">
      <div class="large-12">
        <b>Welcome <%= current_user.first_name %></b><p></p>
        This site is Under Construction!!<p></p>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <b>Identification</b><p></p>
        <li>Your team name is <%= current_team.name %></li>
        <li>Your userID is <%= current_user.id %></li>
        <li>Your memberID is <%= current_membership.id %></li>
        <li>Your full name is <%= current_user.full_name %></li>
        <li>Your membership role is <%= current_membership.typ %></li>
      </div>
      <div class="large-6 columns">
        <a href='/zesb/index' class='button'>Style Mockups</a>
      </div>
    </div>

  </div>
</div>

