<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= raw team_logo %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
          <li class="divider"></li>
          <li><a href="/members">Members</a></li>
          <li class="divider"></li>
          <li><a href="/paging">Paging</a></li>
          <li class="divider"></li>
          <li><a href="/events">Events</a></li>
          <li class="divider"></li>
          <li><a href="/availability">Availability</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href='#' class='small button split'><i class="icon-cog"></i> <%= current_user.user_name %> <span id='navDrop' data-dropdown='userDrop'></span></a>
          </li>
      <% else %>
          <li class="has-form">
            <% if ! current_page?("/login") %>
            <%= raw link_to("log in", "/login", class: "small button") %>
            <% end %>
          </li>
      <% end %>
    </ul>
  </section>
</nav>

<%= raw page_flash %>

<%= yield %>

<div class='footer'>
  <div class="row">
    <div class="large-12 columns">
      <div class='row'>
        <div class='large-12'>
          <table width=100%>
            <tbody>
            <tr>
              <td align=left>BAMRU Confidential</td>
              <td align=center><%= raw debug_text if Rails.env.development? %></td>
              <td align=right>Powered by X440</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ul id='userDrop' class='f-dropdown micro' data-dropdown-content>
  <li><a href="/logout">log out</a></li>
</ul>

<%= javascript_include_tag "application" %>

</body>
</html>
